body {
          background: aliceblue;
	  padding: 20px;
	  max-width: 700px;
	  width: 80%;
	  margin: 20px auto;
	  font-family: Source Sans Pro;
}

h1 {
        color: #2c3e50;
	font-size: 2.0rem;
}


hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


a i {
    color: black;
}

a {
	color: black;
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
    overflow-y: overlay;
    text-align: center;
}

