<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>AdminDev Labs</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resume">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/podcast">Podcast</a>
      </li>
    </ul>
  </div>
</nav>

<div class="hero-image">
    <div class="hero-text">
        <h1>AdminDev Labs</h1>
        <p><strong>Researching Systems Engineering and Computer Science</strong></p>
    </div>
</div>
<hr />

<div class="center">
    <h1>About Me</h1>
    <hr />
    <div class="content">
    <h4>Professional</h4>
    <p>
        I have worked in the I.T. industry for more than 8 years. My interests are systems administration, systems architecture, operating systems, and automation. Some of my
        more obscure interests are functional programming, real-time operating systems, and web architecture. My potential dream job would be working at a silicon company like AMD and transitioning
        into the software engineering side. I am pretty good with Python, Ruby, and JavaScript. I'm working on beefing up my C#, Golang, and C chops. 
        My favorite technology is probably FreeBSD, due to how versatile the system is. I also love Windows 10 and Debian. 
        I enjoy using PowerShell when I can figure out how it works, too. 
    </p>
    <br>
    <h4>Personal</h4>
    <p>
        I enjoy playing guitar, reading, writing, and playing games. I generally play metal, in the spirit of Zakk Wylde's Black Label Society, but I enjoy the older generation
        of heavy meteal as well, like Black Sabbath, Iron Maiden, bands like that. My favorite kinds of books are fantasy, traditional and urban, science fiction, and techno-thrillers.
        My favorite books of each genre are The Icewind Dale Trilogy, The Dresden Files (White Night was probably my favorite so far), Leviathan Wakes, and Daemon. I play video and tabletop
        games. My favorite of each is Fallout: New Vegas and HellFrost. Lately, though, my favorite video game has been the next gen CRPG games, Divinity 2, Pillar's of Eternity, etc. I am
        running a Starfinder game and really enjoying that, dethroning my original favorite. 
    </p>
    <br>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>
