<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Christopher Kennedy</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
    <link rel="icon" type="image/ico" href="../static/images/favicon.ico">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about_me">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#resume">Resume</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="intro">
        <div class="center">
            <h1>Christopher Kennedy</h1>
            <p><strong>Researching Systems Engineering and Computer Science</strong></p>
        </div>
        <hr />
    </div>
    <br>
    <p>
        Welcome to my site! This is my landing page for computer science and systems engineering, plus some DevOps, infrastructure, and more!
        Check out some links below to see my LinkedIn and Git* pages. Site is always under construction so expect new technologies and functionality
        to be implemented. 
    </p>
    <br>
    <div class="center">
        <div class="content">
            <a href="https://github.com/sysopsdev" target="_blank"><i class="large github icon"></i></a> <a href="https://gitlab.com/sysopsdev" target="_blank"><i class="content large gitlab icon"></i></a> <a href="https://linkedin.com/in/christopher-kennedy-334201151" target="_blank"><i class="large linkedin icon"></i></a>
        </div>
    </div>
    <br> 
    <br> 
    <br> 
    <br> 
            
    <h1 id="about_me">About Me</h1>
    <h4>Professional</h4>
    <p>
        I have worked in the I.T. industry for almost 10 years! My interests are systems administration, systems architecture, operating systems, and automation. I also love software development and programming languages. I've moved into more of the 
        software and "infrastructure developer" side of things, which is nice. I still manage systems and networks, but do so in a repeatable manner. Things like Terraform, Docker, Packer, Kubernetes, and "cloud all the things" are my staples these days. <br><br>
        Much of my time is spent in Ruby and Go, but I'm interested in more than that: Rust, C, Vue.js -- You name it. I have an affinity for Unix-like and Linux operating systems, but I suppose with container runtime engines and cloud native that's becoming 
        less relevant, sadly. Nevertheless, I enjoy spending time learning shell scripts, Linux management, and automating network and systems configuration. I don't have a configuration management platform that I'm loyal to, but I would have to say Ansible is
        growing on me. 
    </p>
    <br>
    <h4>Personal</h4>
    <p>
        I enjoy playing guitar, reading, writing, and playing games. I generally play metal, in the spirit of Zakk Wylde's Black Label Society, but I enjoy the older generation
        of heavy metal as well, like Black Sabbath, Iron Maiden, bands like that. My favorite kinds of books are fantasy, traditional and urban, science fiction, and techno-thrillers.<br><br>
        My favorite books of each genre are The Icewind Dale Trilogy, The Dresden Files (White Night was probably my favorite so far), Leviathan Wakes, Zero Day, and Daemon. I play video and tabletop games. <br><br>
        My favorite of each is Fallout: New Vegas and HellFrost. Lately, though, my favorite video game has been the next gen CRPG games, Divinity 2, Pillar's of Eternity, etc. I am
        running a Starfinder game and really enjoying that, dethroning my original favorite. Dungeons and Dragons will always have a special place in my heart, though!

        I am happily married, live with two cats, and two dogs. All of the animals are from various rescue facilities (including the street!). 
    </p>
    <hr />
    <br> 
    <br> 
    <br> 
    <br> 

    <h1 id="resume">Work History</h1>
    <p>Here are a few of the positions I've held during my time in Information Technology.</p>
    <hr />
            <strong>Software Developer -- June 2020 to Present</strong> <br>
                • Develop infrastructure solutions with Terraform, Packer, and AWS.<br>
                • Containerize applications with Docker and Elastic Container Services via AWS.<br>
                • Perform unit and integration testing of infrastructure and applictions with Ruby test suites: RSpec and Cucumber.<br>
                • Integrate security first approach with SonarQube, Infer, and other DevSecOps tooling.<br>
                • Architecting cloud native and "lift and shift" models for AWS and GCP environments.<br>
                <br>
            <strong>DevOps Engineer 2 -- Jun 2019 to June 2020</strong> <br>
                • Configuring Elasticsearch, Logstash, and Kibana for log parsing and visualizations.<br>
                • Systems administration tasks for node/express applications, .NET applications, and Docker hosts.<br>
                • Administation of AWS infrastructure.<br>
                • Build, configure, and update Jenkins pipelines.<br>
                • Configure build and release pipelines in Azure DevOps for on-prem and AWS locations.<br>
                <br>
                <strong>DevOps Engineer -- Apr 2018 to Jun 2019</strong><br>
                • Day to day involves managing Tomcat and Apache application servers in AWS environment.<br>
                • Integration of monitoring solutions to control uptime, costs, and reliability of resources.<br>
                • Create and deploy Infrastructure as Code using CloudFormation's Ruby SDK, Chef, Terraform, and Docker.<br>
                • Transform and automate existing I.T. practices.<br>
                • Perform continuous integration and continuous delivery with Jenkins jobs.<br>
                <br>
                <strong>Support Analyst -- Sep 2016 to Dec 2017</strong><br>
                • Supported more than 6,000 end users in fast paced environment with 100% SLA.<br>
                • Implemented companywide virus remediation plan with I.T. Ops and Information Security teams.<br>
                • Contributed to more than 100 knowledge base articles in company intranet.<br>
                • Provided QA on SQL Server, compiling and integrating data from Dev and Ops teams.<br>
                • Automated reporting services for engineer performance.<br>
                <br>
                <strong>Support Engineer Aug 2015 to Sep 2016</strong><br>
                • Deployed Windows and FreeBSD servers with RAID 5 and RAID 6 infrastructure.<br>
                • Configured disaster recovery solution in case of inclement weather, malicious intrusion, or accidental destruction.<br>
                • Customized network and database installations to customer specifications using Hyper-V and Microsoft SQL Server.<br>
                <br>
                <strong>Advanced Repair Agent -- Aug 2011 to July 2015</strong><br>
                • Reduced store turn time from 7 days to less than 24 hours.<br>
                • Gained recognition as top 10 location in client satisfaction.<br>
                • Installed and maintained data backup unit, performed weekly maintenance on routine schedule.<br>
    
</body>
</html>


