<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>AdminDev Labs</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><-- Go Back Home</a>
      </li>
    </ul>
  </div>
</nav>
<div class="hero-image">
    <div class="hero-text">
        <h1>AdminDev Labs</h1>
        <p><strong>Researching Systems Engineering and Computer Science</strong></p>
    </div>
</div>
<hr />
<div class="center">
            <h1>Latest Episode</h1>
            <hr />
        <div class="content">

<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/14102993/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/1ff504/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<h2 id="bsd-administration-and-c-isms">BSD Administration and C-isms</h2>
<h3 id="deploying-to-openbsd">Deploying to OpenBSD</h3>
<ul>
<li>Played with OpenBSD and HTTPD</li>
<li>Not your Grandpa&#39;s HTTPD</li>
<li>Based on relayd</li>
<li>Features<ul>
<li>Very similar to Nginx</li>
<li>Macros</li>
<li>Global conf</li>
<li>Sever declaration </li>
</ul>
</li>
<li>ACME Client<ul>
<li>Automatic Certificate Management Environment (phew)</li>
<li>Location blocks</li>
<li>Connect with Let&#39;s Encrypt</li>
</ul>
</li>
<li><em>Sane</em> Defaults<ul>
<li>Say it with me</li>
<li>Protections in place to protect the system admin and users</li>
<li>You &quot;unlock&quot; what you want to use</li>
</ul>
</li>
<li>Traffic <ul>
<li>Couldn&#39;t tell (too low)</li>
<li>Rendered/responded very well</li>
<li>Basic stress testing showed no difference than Linux</li>
</ul>
</li>
</ul>
<h3 id="writing-in-userland">Writing in Userland</h3>
<ul>
<li>AKA user space<ul>
<li>Kernel exposes itself via API</li>
<li>Use system calls to hitup the kernel</li>
<li>Interrupt happens, processes process, kernel goes on about day</li>
</ul>
</li>
<li>Pointers, I/O, networking<ul>
<li>Writing to file</li>
<li>Allocating memory</li>
<li>Sending packets</li>
<li>Caching</li>
</ul>
</li>
<li>Web server in C<ul>
<li>Mainstream examples</li>
<li>Smaller projects</li>
</ul>
</li>
<li>Without VM or Garbage Collection</li>
</ul>
<h3 id="fun-filled-excitement">Fun Filled Excitement</h3>
<ul>
<li>Debian potentially migrating off E-mail</li>
<li>First Book Review (dedicating whole episode)<ul>
<li>Networking for Systems Administrators by Michael W Lucas</li>
</ul>
</li>
</ul>
<h3 id="web-server-source">Web Server Source</h3>
<p><a href="https://github.com/LambdaSchool/C-Web-Server">https://github.com/LambdaSchool/C-Web-Server</a></p>


<br>
<h3>Episode List</h3>
<a href="http://admindevlabs.libsyn.com/website">AdminDev Labs</a>
        </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>


