<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>AdminDev Labs</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resume">Resume</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/podcast">Podcast <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="hero-image">
    <div class="hero-text">
        <h1>AdminDev Labs</h1>
        <p><strong>Researching Systems Engineering and Computer Science</strong></p>
    </div>
</div>
<hr />
<div class="center">
            <h1>Latest Episode</h1>
            <hr />
        <div class="content">
  <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/12675149/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/2df409/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
<br> 
<h3 id="wsl-with-hayden-barnes">WSL with Hayden Barnes</h3>
<p>Today I had the privilege of speaking with Hayden Barnes, a developer advocate for Ubuntu at Canonical. Hayden is known as the Microsoft guy at a Linux company, he founded Pengwin - a WSL distribution, and previously worked as an attorney.</p>
<pre><code>-<span class="ruby"> From Law to Linux
</span>-<span class="ruby"> Getting into systems programming
</span>-<span class="ruby"> Working at Canonical
</span>-<span class="ruby"> What is WSL?
</span>-<span class="ruby"> WSL compared to WSL2
</span>-<span class="ruby"> Upstream from project to WSL
</span>-<span class="ruby"> Future of WSL
</span>-<span class="ruby"> Canonical<span class="hljs-string">'s involvement
</span></span>-<span class="ruby"><span class="hljs-string"> Skills for the job
</span></span>-<span class="ruby"><span class="hljs-string"> Proudest project
</span></span>-<span class="ruby"><span class="hljs-string"> Toughest challenge
</span></span>-<span class="ruby"><span class="hljs-string"> Life outside of tech</span></span>
</code></pre><p><a href="https://www.youtube.com/watch?v=lwhMThePdIo">WSL Architecture</a></p>
<p><a href="https://docs.microsoft.com/en-us/archive/blogs/wsl/pico-process-overview">WSL Pico Process Overview</a></p>
<p><a href="https://www.wslconf.dev/">WSLConf</a></p>
<h3 id="more-on-hayden-">More on Hayden:</h3>
<p><a href="https://boxofcables.dev">Blog Site</a></p>
<p>@unixterminal on Twitter</p>


<br>
<h3>Episode List</h3>
<a href="http://admindevlabs.libsyn.com/website">AdminDev Labs</a>
        </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>


