<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>AdminDev Labs</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resume">Resume</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/podcast">Podcast <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="hero-image">
    <div class="hero-text">
        <h1>AdminDev Labs</h1>
        <p><strong>Researching Systems Engineering and Computer Science</strong></p>
    </div>
</div>
<hr />
<div class="center">
            <h1>Latest Episode</h1>
            <hr />
        <div class="content">
<iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/13094219/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/38f508/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe><br> 
<h2 id="linux-centric-processes-and-kernel-developers">Linux Centric, Processes, and Kernel Developers</h2>
<h3 id="changing-directions">Changing Directions</h3>
<ul>
<li>Why &quot;Linux&quot;?<ul>
<li>Interests change over time</li>
<li>Something I&#39;ve consistently gone back to</li>
<li>My job and career</li>
<li>Can&#39;t stay away</li>
</ul>
</li>
<li>Not a Revamp or a Refactor</li>
<li>Continuing with same format<ul>
<li>Not a news show</li>
<li>Video is on hold</li>
<li>Random raw VLOG/videos</li>
</ul>
</li>
</ul>
<h3 id="process">Process</h3>
<ul>
<li>What is a process?<ul>
<li>Instance of a program running</li>
<li>CPU instruction</li>
</ul>
</li>
<li>What is a program?<ul>
<li>File with information on how to construct a process</li>
<li>Binary format identification (metadata) format of executable</li>
<li>Machine-language instruction</li>
<li>Entry point address, where should the program execution being?</li>
<li>Data</li>
<li>Symbols and relocation tables, locations and names of functions, objects, debug</li>
<li>Shared-library and dynamic-linking information, lists of shared libraries needed at runtime</li>
</ul>
</li>
<li>Types of processes<ul>
<li>User initiated, interactive</li>
<li>Background, daemon, automated</li>
</ul>
</li>
<li>Daemon<ul>
<li>Online with the system</li>
<li>Haunt you forever, never die</li>
<li>User can interface with daemons</li>
</ul>
</li>
</ul>
<h3 id="linux-process">Linux Process</h3>
<ul>
<li>Parent/Child<ul>
<li>Child process: Existing process copies itself in memory</li>
<li>New PID for child, but runs concurrently with the program on execution</li>
<li>fork()</li>
<li>Both processes continue with the next instruction</li>
<li>Child has access to file, CPU registers, and I/O that parent has access to</li>
<li>PID and PPID are used to identify and keep track of processes</li>
<li>man page: The child process and the parent process run in separate memory
   spaces.  At the time of fork() both memory spaces have the same
   content.  Memory writes, file mappings (mmap(2)), and unmappings
   (munmap(2)) performed by one of the processes do not affect the
   other.</li>
<li>Source code coming</li>
</ul>
</li>
</ul>
<h3 id="better-tools-for-kernel-developers">Better tools for kernel developers</h3>
<ul>
<li>Reliance on e-mail for Linux kernel maintainers</li>
<li>Process is daunting to newcomers</li>
<li>Tooling to assist<ul>
<li>500 lines of Python</li>
<li>Provide message ID for email in a thread of interest</li>
<li>Entire thread downloaded and stored in local mbox file</li>
</ul>
</li>
<li>Change in the process<ul>
<li>Reading email threads</li>
<li>Organizing patches</li>
<li>Applying tags</li>
</ul>
</li>
<li>Hesitance/resistance to change</li>
<li>Do developer workflows need to change?<ul>
<li>Why?</li>
<li>Learn a newcomer vs ask for input</li>
<li>Linux kernel is great as is</li>
</ul>
</li>
</ul>


<br>
<h3>Episode List</h3>
<a href="http://admindevlabs.libsyn.com/website">AdminDev Labs</a>
        </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>


