<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AdminDev Labs</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/podcast">Podcast</a>
      </li>
    </ul>
  </div>
</nav>
<!--<h1>Devember 2019!</h1>
<p>This is a test.</p>

</body>
-->
<div class="hero-image">
    <div class="hero-text">
        <h1>AdminDev Labs</h1>
        <p><strong>Researching Systems Engineering and Computer Science</strong></p>
    </div>
</div>
<hr />
<div class="center">
    <h1>Work History</h1>
    <p>Here are a few of the positions I've held during my time in Information Technology.</p>

    <hr />
    
        <strong>DevOps Engineer 2 -- Jun 2019 to Present</strong>
        <p>• Configuring Elasticsearch, Logstash, and Kibana for log parsing and visualizations.</p>
        <p>• Systems administration tasks for node/express servers, .NET servers, and Docker hosts.</p>
        <p>• Administation of AWS infrastructure.</p>
        <p>• Build, configure, and update Jenkins pipelines.</p>
        <br>
        <strong>DevOps Engineer -- Apr 2018 to Jun 2019</strong>
        <p>• Day to day involves managing Tomcat and Apache application servers in AWS environment.</p>
        <p>• Integration of monitoring solutions to control uptime, costs, and reliability of resources.</p>
        <p>• Create and deploy Infrastructure as Code using CloudFormation's Ruby SDK, Chef, Terraform, and Docker.</p>
        <p>• Transform and automate existing I.T. practices.</p>
        <p>• Perform continuous integration and continuous delivery with Jenkins jobs.</p>
        <br>
        <strong>Support Analyst -- Sep 2016 to Dec 2017</strong>
        <p>• Supported more than 6,000 end users in fast paced environment with 100% SLA.</p>
        <p>• Implemented companywide virus remediation plan with I.T. Ops and Information Security teams.</p>
        <p>• Contributed to more than 100 knowledge base articles in company intranet.</p>
        <p>• Provided QA on SQL Server, compiling and integrating data from Dev and Ops teams.</p>
        <p>• Automated reporting services for engineer performance.</p>
        <br>
        <strong>Support Engineer Aug 2015 to Sep 2016</strong>
        <p>• Deployed Windows and FreeBSD servers with RAID 5 and RAID 6 infrastructure.</p>
        <p>• Configured disaster recovery solution in case of inclement weather, malicious intrusion, or accidental destruction.</p>
        <p>• Customized network and database installations to customer specifications using Hyper-V and Microsoft SQL Server.</p>
        <br>
        <strong>Advanced Repair Agent -- Aug 2011 to July 2015</strong>
        <p>• Reduced store turn time from 7 days to less than 24 hours.</p>
        <p>• Gained recognition as top 10 location in client satisfaction.</p>
        <p>• Installed and maintained data backup unit, performed weekly maintenance on routine schedule.</p>
    
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>


